/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

// Bannières
.full-background {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#clock-home {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.bg-content-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bg-title {
  text-transform: uppercase;
  font-size: 4rem;
  color: $b-grey-text;
  margin: 0.5rem 0.5rem;
  line-height: 100%;
  font-weight: 500;
  font-family: "pimpernel", serif;
  margin-top: 3rem;
}

.bg-subtitle {
  color: $b-grey-dark;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
}

// page home
#home-background {
  background: image-url('parquet_floor.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

.socials {
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  a {
    color: $b-grey-icons;
  }
  i {
    font-size: 3rem;
  }
}

.bg-logo {
  margin-top: 2rem;
  img {
    height: 18rem;
  }
}
