<!-- Navbar -->
<nav>
  <div class="nav-wrapper">
    <div class="brand-logo">
      <%= image_tag('logo_atelier_jus.svg') %>
    </div>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- Menu scrollspy sur ordinateur seulement -->
    <ul class="right hide-on-med-and-down table-of-contents">
      <li><a href="#notre-methode">Notre méthode</a></li>
      <li><a href="#nos-jus">Nos jus</a></li>
      <li><a href="#qui-sommes-nous">Qui sommes-nous ?</a></li>
      <li><a href="#ou-nous-trouver">Où nous trouver ?</a></li>
    </ul>
    <!-- ************************** -->

    <!-- Menu sur mobile -->
    <ul class="side-nav table-of-contents" id="mobile-demo">
      <li><a href="#notre-methode">Notre méthode</a></li>
      <li><a href="#nos-jus">Nos jus</a></li>
      <li><a href="#qui-sommes-nous">Qui sommes-nous ?</a></li>
      <li><a href="#ou-nous-trouver">Où nous trouver ?</a></li>
    </ul>
    <!-- ************************** -->
  </div>
</nav>


<!-- Contenu de la page : attention aux id des parties pour le menu scrollspy -->

<!-- Banner -->

<!-- ************************** -->

<!-- Punchline -->

<!-- ************************** -->

<!-- Méthode de fabrication -->
<div id="notre-methode" class="section scrollspy">
  <p>Notre méthode</p>
</div>
<!-- ************************** -->

<!-- Présentation des jus -->
<div id="nos-jus" class="section scrollspy">
  <p>Nos jus</p>
</div>
<!-- ************************** -->

<!-- Présentation de l'équipe -->
<div id="qui-sommes-nous" class="section scrollspy">
  <p>Qui sommes-nous ?</p>
</div>
<!-- ************************** -->

<!-- Où les trouver : les prestations -->
<div id="ou-nous-trouver" class="section scrollspy">
  <p>Où nous trouver ?</p>
</div>
<!-- ************************** -->

