<!-- Bannière -->
<div class="full-background" id="home-background">
  <div class="clock" id="clock-home">
    <div class="hour"></div>
    <div class="second"></div>
    <div class="center"></div>
  </div>
  <div class="bg-content-container">
    <div class="bg-content">
      <div class="bg-logo center-align">
        <%= image_tag('logo_atelier_jus.svg') %>
      </div>
      <h1 class="bg-title center-align">
        Un peu de patience,<br>l'oiseau fait son nid
      </h1>
      <p class="bg-subtitle center-align">Site en construction<br>Ne soyez pas si pressés, on vous tient au jus !</p>
    </div>
  </div>
</div>
<!-- Bannière -->

<div class="socials">
  <a href="/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  <a href="/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
</div>
