<!-- Bannière -->
<div class="full-background" id="home-background">
  <div class="col-xs-12 col-md-4 ">
    <div class="clock">
      <div class="hour"></div>
      <div class="second"></div>
      <div class="center"></div>
    </div>
  </div>
</div>
<!-- Bannière -->

