nav {
  background-color: transparent;
  background: image-url('parquet_floor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 6rem;
  height: 6rem;
  line-height: 5rem;
  position: fixed;
  z-index: 1000;
}

.brand-logo {
  height: 100%;
  padding: 0.5rem 0 !important;
  display: block !important;
  img {
    height: 100%;
  }
}

#desktop-menu {
  .table-of-contents a {
    display: inline-block;
    font-weight: 300;
    color: white;
    padding: 0;
    height: 1.2rem;
    line-height: 1rem;
    letter-spacing: 0;
    margin-left: 3rem;
    font-size: 1.2rem;
    &:hover {
      color: white;
      border-bottom: 1px solid $b-green-light;
      border-left: none;
      padding: 0;
      background-color: transparent;
    }
  }
}
