/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.global-container {
  margin: 0 6rem;
}
.section-container {
  padding: 3rem 6rem;
}
.row {
  margin: 0;
}

// Backgrounds
.bg-black {
  background: $b-black;
}
.bg-grey {
  background: $b-grey-light;
}
.bg-orange {
  background: $b-orange-light;
}
.bg-yellow {
  background: $b-yellow-light;
}
.bg-red {
  background: $b-red-light;
}
.bg-green {
  background: $b-green-light;
}

// Alignments
.center-align {
  text-align: center;
}

// Polices
.pimpernel {
  font-family: 'pimpernel';
}
.uppercase {
  text-transform: uppercase;
}

// Titles
.title-section {
  font-weight: 300;
}

// Couleurs
.b-grey {
  color: $b-grey-dark;
}
