
// Clock
.clock {
  position: relative;
  height: 12rem;
  width: 12rem;
  background: transparent;
  box-sizing: border-box;
  border-radius: 100%;
  border: 10px solid $b-grey-light;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .top {
    position: absolute;
    width: 3px;
    height: 8px;
    background: #262626;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .right {
    position: absolute;
    width: 8px;
    height: 3px;
    background: #262626;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
  }
  .bottom {
    position: absolute;
    width: 3px;
    height: 8px;
    background: #262626;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  .left {
    position: absolute;
    width: 8px;
    height: 3px;
    background: #262626;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
  }
  .center {
    height: 2.3rem;
    width: 2.3rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: $b-red;
    border-radius: 100%;
  }

  .hour {
    width: 7px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    //animation: time 86400s infinite linear;
    animation: time 60s infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: $b-orange;
      height: 4rem;
      width: 0.8rem;
      top: 2rem;
      right: -0.1rem;
      border-radius: 14px;
    }
  }
  .minute {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    //animation: time 3600s infinite linear;
    animation: time 30s infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: #F7B925;
      height: 40px;
      width: 1px;
      top: 50px;
    }
  }
  .second {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    //animation: time 60s infinite linear;
    animation: time 15s infinite linear;
    &:before {
      position: absolute;
      content: "";
      background: $b-yellow;
      height: 5rem;
      width: 0.6rem;
      top: 0.6rem;
      right: 0px;
      border-radius: 5px;
    }
  }
}

@keyframes time {
  to {
    transform: rotate(360deg);
  }
}
